# Lab | Data Structuring and Combining Data

## Challenge 1: Combining & Cleaning Data

In this challenge, we will be working with the customer data from an insurance company, as we did in the two previous labs. The data can be found here:
- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv

But this time, we got new data, which can be found in the following 2 CSV files located at the links below.

- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file2.csv
- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file3.csv

Note that you'll need to clean and format the new data.

Observation:
- One option is to first combine the three datasets and then apply the cleaning function to the new combined dataset
- Another option would be to read the clean file you saved in the previous lab, and just clean the two new files and concatenate the three clean datasets

In [48]:
# Your code goes here
import pandas as pd
url_1 = "https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file2.csv"
url_2 = "https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file3.csv"
df_1 = pd.read_csv(url_1)
df_2 = pd.read_csv(url_2)
df = pd.concat([df_1, df_2], axis =0)

# If you want to concatenate DataFrames horizontally, use axis=1
# combined_df = pd.concat([df1, df2], axis=1)
df.info

<bound method DataFrame.info of      Customer          ST GENDER Education Customer Lifetime Value  Income  \
0     GS98873     Arizona      F  Bachelor              323912.47%   16061
1     CW49887  California      F    Master              462680.11%   79487
2     MY31220  California      F   College              899704.02%   54230
3     UH35128      Oregon      F   College             2580706.30%   71210
4     WH52799     Arizona      F   College              380812.21%   94903
...       ...         ...    ...       ...                     ...     ...
7065  LA72316         NaN    NaN  Bachelor             23405.98798   71941
7066  PK87824         NaN    NaN   College             3096.511217   21604
7067  TD14365         NaN    NaN  Bachelor             8163.890428       0
7068  UP19263         NaN    NaN   College             7524.442436   21941
7069  Y167826         NaN    NaN   College             2611.836866       0

      Monthly Premium Auto Number of Open Complaints  Total Claim Amount  \
0                       88                    1/0/00          633.600000
1                      114                    1/0/00          547.200000
2                      112                    1/0/00          537.600000
3                      214                    1/1/00         1027.200000
4                       94                    1/0/00          451.200000
...                    ...                       ...                 ...
7065                    73                         0          198.234764
7066                    79                         0          379.200000
7067                    85                         3          790.784983
7068                    96                         0          691.200000
7069                    77                         0          369.600000

         Policy Type  Vehicle Class       State Gender
0      Personal Auto  Four-Door Car         NaN    NaN
1       Special Auto            SUV         NaN    NaN
2      Personal Auto   Two-Door Car         NaN    NaN
3      Personal Auto     Luxury Car         NaN    NaN
4     Corporate Auto   Two-Door Car         NaN    NaN
...              ...            ...         ...    ...
7065   Personal Auto  Four-Door Car  California      M
7066  Corporate Auto  Four-Door Car  California      F
7067  Corporate Auto  Four-Door Car  California      M
7068   Personal Auto  Four-Door Car  California      M
7069  Corporate Auto   Two-Door Car  California      M

[8066 rows x 13 columns]>

In [50]:

# Step 1: Clean column names
df.columns = df.columns.str.strip().str.lower().str.replace(" ", "_")

# Step 2: Fix 'customer_lifetime_value' (remove %, convert to float)
if 'customer_lifetime_value' in df.columns:
    df['customer_lifetime_value'] = (
        df['customer_lifetime_value']
        .astype(str)
        .str.replace('%', '', regex=False)
        .astype(float)
    )

# Step 3: Clean 'number_of_open_complaints'
df['number_of_open_complaints'] = pd.to_numeric(
    df['number_of_open_complaints'], errors='coerce'
).fillna(0).astype(int)

# Step 4: Clean 'total_claim_amount' to ensure it's numeric
df['total_claim_amount'] = pd.to_numeric(df['total_claim_amount'], errors='coerce')

# Step 5: Handle missing values
# Drop rows with critical missing data
df.dropna(subset=['policy_type', 'state', 'gender', 'education'], inplace=True)

# Optional: Fill other missing values
df['income'] = df['income'].fillna(0)
df['monthly_premium_auto'] = df['monthly_premium_auto'].fillna(df['monthly_premium_auto'].median())

# Step 6: (Optional) Preview cleaned DataFrame
print(df.head())
print(df.info())

Empty DataFrame
Columns: [customer, st, gender, education, customer_lifetime_value, income, monthly_premium_auto, number_of_open_complaints, total_claim_amount, policy_type, vehicle_class, state, gender]
Index: []
<class 'pandas.core.frame.DataFrame'>
Index: 0 entries
Data columns (total 13 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   customer                   0 non-null      object
 1   st                         0 non-null      object
 2   gender                     0 non-null      object
 3   education                  0 non-null      object
 4   customer_lifetime_value    0 non-null      float64
 5   income                     0 non-null      int64
 6   monthly_premium_auto       0 non-null      int64
 7   number_of_open_complaints  0 non-null      int64
 8   total_claim_amount         0 non-null      float64
 9   policy_type                0 non-null      object
 10  vehicle_class              0 non-null      object
 11  state                      0 non-null      object
 12  gender                     0 non-null      object
dtypes: float64(2), int64(3), object(8)
memory usage: 0.0+ bytes
None

In [51]:
# Save the DataFrame to a new CSV file
df.to_csv('lab_dw_data_structure.csv', index=False)

# Challenge 2: Structuring Data

In this challenge, we will continue to work with customer data from an insurance company, but we will use a dataset with more columns, called marketing_customer_analysis.csv, which can be found at the following link:

https://raw.githubusercontent.com/data-bootcamp-v4/data/main/marketing_customer_analysis_clean.csv

This dataset contains information such as customer demographics, policy details, vehicle information, and the customer's response to the last marketing campaign. Our goal is to explore and analyze this data by performing data cleaning, formatting, and structuring.

In [53]:
# Your code goes here
import pandas as pd
url = 'https://raw.githubusercontent.com/data-bootcamp-v4/data/main/marketing_customer_analysis_clean.csv'
df = pd.read_csv(url)
df.head()

,unnamed:_0,customer,state,customer_lifetime_value,response,coverage,education,effective_to_date,employmentstatus,gender,...,number_of_policies,policy_type,policy,renew_offer_type,sales_channel,total_claim_amount,vehicle_class,vehicle_size,vehicle_type,month
0,0,DK49336,Arizona,4809.216960,No,Basic,College,2011-02-18,Employed,M,...,9,Corporate Auto,Corporate L3,Offer3,Agent,292.800000,Four-Door Car,Medsize,A,2
1,1,KX64629,California,2228.525238,No,Basic,College,2011-01-18,Unemployed,F,...,1,Personal Auto,Personal L3,Offer4,Call Center,744.924331,Four-Door Car,Medsize,A,1
2,2,LZ68649,Washington,14947.917300,No,Basic,Bachelor,2011-02-10,Employed,M,...,2,Personal Auto,Personal L3,Offer3,Call Center,480.000000,SUV,Medsize,A,2
3,3,XL78013,Oregon,22332.439460,Yes,Extended,College,2011-01-11,Employed,M,...,2,Corporate Auto,Corporate L3,Offer2,Branch,484.013411,Four-Door Car,Medsize,A,1
4,4,QA50777,Oregon,9025.067525,No,Premium,Bachelor,2011-01-17,Medical Leave,F,...,7,Personal Auto,Personal L2,Offer1,Branch,707.925645,Four-Door Car,Medsize,A,1

In [54]:
# Clean column names (optional but recommended)
df.columns = df.columns.str.strip().str.lower().str.replace(" ", "_")

# Clean 'customer_lifetime_value' - check type first and convert appropriately
if df['customer_lifetime_value'].dtype == 'object':  # If it's string type
    df['customer_lifetime_value'] = df['customer_lifetime_value'].str.replace('%', '').astype(float)
else:  # If it's already numeric
    df['customer_lifetime_value'] = df['customer_lifetime_value'].astype(float)

# Clean 'number_of_open_complaints' (assuming it's malformed)
df['number_of_open_complaints'] = pd.to_numeric(df['number_of_open_complaints'], errors='coerce')

# Drop rows with missing values in required columns
df.dropna(subset=['sales_channel', 'total_claim_amount'], inplace=True)

1. You work at the marketing department and you want to know which sales channel brought the most sales in terms of total revenue. Using pivot, create a summary table showing the total revenue for each sales channel (branch, call center, web, and mail).
Round the total revenue to 2 decimal points.  Analyze the resulting table to draw insights.

In [55]:
# Pivot table: Total revenue by Sales Channel
revenue_summary = df_clean.pivot_table(
    index='sales_channel',
    values='total_claim_amount',
    aggfunc='sum'
).round(2)

# Display table
print(revenue_summary)

               total_claim_amount
sales_channel
Agent                  1810226.82
Branch                 1301204.00
Call Center             926600.82
Web                     706600.04

2. Create a pivot table that shows the average customer lifetime value per gender and education level. Analyze the resulting table to draw insights.

In [36]:

# Drop rows with missing Gender or Education (if any)
df.dropna(subset=['gender', 'education'], inplace=True)

# Create pivot table
clv_pivot = df.pivot_table(
    index='gender',
    columns='education',
    values='customer_lifetime_value',
    aggfunc='mean'
).round(2)

# Display the table
print(clv_pivot)

education  Bachelor  College   Doctor  High School or Below   Master
gender
F           7874.27  7748.82  7328.51               8675.22  8157.05
M           7703.60  8052.46  7415.33               8149.69  8168.83

## Bonus

You work at the customer service department and you want to know which months had the highest number of complaints by policy type category. Create a summary table showing the number of complaints by policy type and month.
Show it in a long format table.

*In data analysis, a long format table is a way of structuring data in which each observation or measurement is stored in a separate row of the table. The key characteristic of a long format table is that each column represents a single variable, and each row represents a single observation of that variable.*

*More information about long and wide format tables here: https://www.statology.org/long-vs-wide-data/*

In [56]:
# Your code goes here
# Ensure 'number_of_open_complaints' is numeric
df['number_of_open_complaints'] = pd.to_numeric(df['number_of_open_complaints'], errors='coerce').fillna(0).astype(int)

# Drop rows with missing 'policy_type' or 'month'
df.dropna(subset=['policy_type', 'month'], inplace=True)

# Group by policy type and month
complaints_summary = df.groupby(['policy_type', 'month'])['number_of_open_complaints'].sum().reset_index()

# Sort by total complaints (optional)
complaints_summary = complaints_summary.sort_values(by='number_of_open_complaints', ascending=False)

# Display result
print(complaints_summary)

      policy_type  month  number_of_open_complaints
2   Personal Auto      1                       1635
3   Personal Auto      2                       1363
0  Corporate Auto      1                        415
1  Corporate Auto      2                        361
5    Special Auto      2                         91
4    Special Auto      1                         84